export APPLICATION_SECRET="... pwgen -s 64 1 ..."
export GOOGLE_MAPS_JS_KEY='... get from Google Cloud Console ...'
export GOOGLE_MAPS_SERVER_KEY='... get from Google Cloud Console ...'
export RAILINFO_HOSTNAME='railinfo.kabelverhau.ch'
export LIVEFILES_HOSTNAME='bahnbilder.ch'
export MAC_SIGNING_KEY="... pwgen -s 512 | sha512sum ..."

# optional, not required if MongoDB runs on localhost without authentication
#export MONGO_HOSTS="host1:27017,host2:27017,host3:27017"
#export MONGO_USERNAME="bahnbilder"
#export MONGO_PASSWORD="..."
#export MONGO_AUTH_DB="admin"
