@(  implicit request: Http.Request,
    user: entities.User,
    lang: String
)

@template(request, i18n.Txt.get(lang, "about"), "about", user, lang) {
} {
    <h2>@i18n.Txt.get(lang, "about")</h2>
    @if(lang == "de") {
        <p>LiDNYs fork von bahnbilder.ch</p>        
        <h3>Kontakt</h3>
        <table class="simpleTable">
            <tr><td><a href="mailto:david@@bahnbilder.ch">david@@bahnbilder.ch</a></td><td>Bilder von David Gubler, Entwicklung und Betrieb der Webseite</td></tr>
            <tr><td><a href="mailto:paszingg@@bluewin.ch">paszingg@@bluewin.ch</a></td><td>Bilder von Pascal Zingg</a></td></tr>
            <tr><td><a href="mailto:JisBjoern@@t-online.de">JisBjoern@@t-online.de</a></td><td>Bilder von Christof Hofbauer</a></td></tr>
            <tr><td><a href="mailto:michel-huber@@bluewin.ch">michel-huber@@bluewin.ch</a></td><td>Bilder von Michel Huber</a></td></tr>
            <tr><td><a href="mailto:bahnbilder@@huerz.ch">bahnbilder@@huerz.ch</a></td><td>Bilder von Peter Hürzeler</a></td></tr>
            <tr><td><a href="mailto:nbechtiger@@gmail.com">nbechtiger@@gmail.com</a></td><td>Bilder von Neel Bechtiger</a></td></tr>
            <tr><td><a href="mailto:daniel.wipf@@gmail.com">daniel.wipf@@gmail.com</a></td><td>Bilder von Daniel Wipf</a></td></tr>
        </table>
        <p></p>
        <h3>Quellcode</h3>
        <p>Der Quellcode dieser Webseite ist verfügbar unter der AGPL-Lizenz: <a href="https://github.com/LiDNY/rp.lidny/tree/restart" target="_blank">github.com/LiDNY/rp.lidny/tree/restart</a></p>
    } else {
        <p>LiDNY's fork of rail.pictures!</p>
        <p>Want an image removed? Request takedown on <a href="https://t.me/starlte" target="_blank">telegram</a></p>
        <h3>Contact</h3>
        <table class="simpleTable">
            <tr><td><a href="mailto:starlte@@lidny.org">starlte@@lidny.org</a></td><td>Photos by starlte</td></tr>
        </table>
        <p></p>
        <h3>Source Code</h3>
        <p>The source code of this web site is available under the AGPL license: <a href="https://github.com/LiDNY/rp.lidny/tree/restart" target="_blank">github.com/LiDNY/rp.lidny/tree/restart</a></p>
    }
}
