@(  implicit request: Http.Request,
    featured: List[entities.Photo],
    countryViews: List[_ <: entities.aggregations.AggregationCountryViews],
    user: entities.User,
    lang: String,
)

@template(request, if(lang=="en"){"rail.pictures"}else{"bahnbilder.ch"}, "home", user, lang) {
} {
    <div class="row">
        <div class="col-md-9 order-md-1">
            @for(photo <- featured) {
                <div class="featured">
                    <h2>@photo.getVehicleClass</h2>
                    <a href="@routes.PhotoController.view(photo.getId)?menu=home"><img src="@photo.getUrlPublic900()" srcset="@photo.getUrlPublic1280() 1280w" /></a>
                    @photo.getGeneratedDescription(lang, true, true, true, true, false)
                </div>
            }
        </div>


        <div class="col-md-3 order-md-2 sidebar">
            <h2>@i18n.Txt.get(lang, "countriesByViews")</h2>
            <table class="stats">
                @for(cv <- countryViews) {
                    <tr>
                        <td><span><a href="@routes.BrowseController.country(1, cv.getCountry + "")" >@flag(cv.getCountry() + "", cv.getCountry().getName(lang))@cv.getCountry().getName(lang)</a></span></td>
                        <td>@if(cv.getViews() < 1000L){@cv.getViews()}else if(cv.getViews() < 1000000L){@(cv.getViews() / 1000L)&nbsp;k}else{@(cv.getViews() / 1000000L)&nbsp;m}</td>
                    </tr>
                }
            </table>
        </div>

    </div>
}
